{% extends "partials/base.html" %}
{% load static %}
{% block title %}Contacts{% endblock title %}
{% block extra_css %}
<!-- Sweet Alert css-->
<link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="CRM" title="Contacts" %}
                        {% endblock pagetitle %}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center flex-wrap gap-2">
                                            <div class="flex-grow-1">
                                                <button class="btn btn-info add-btn" data-bs-toggle="modal"
                                                    data-bs-target="#showModal"><i
                                                        class="ri-add-fill me-1 align-bottom"></i> Add Contacts</button>
                                            </div>
                                            <div class="flex-shrink-0">
                                                <div class="hstack text-nowrap gap-2">
                                                    <button class="btn btn-danger"><i class="ri-filter-2-line me-1 align-bottom"></i> Filters</button>
                                                    <button class="btn btn-danger" data-bs-toggle="modal"
                                                        data-bs-target="#addmembers"><i
                                                            class="ri-filter-2-line me-1 align-bottom"></i> Filters</button>
                                                    <button class="btn btn-soft-success">Import</button>
                                                    <button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown"
                                                        aria-expanded="false" class="btn btn-soft-info"><i
                                                            class="ri-more-2-fill"></i></button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                        <li><a class="dropdown-item" href="#">All</a></li>
                                                        <li><a class="dropdown-item" href="#">Last Week</a></li>
                                                        <li><a class="dropdown-item" href="#">Last Month</a></li>
                                                        <li><a class="dropdown-item" href="#">Last Year</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-9">
                                <div class="card" id="contactList">
                                    <div class="card-header">
                                        <div class="row g-3">
                                            <div class="col-md-4">
                                                <div class="search-box">
                                                    <input type="text" class="form-control search"
                                                        placeholder="Search for contact...">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-auto ms-auto">
                                                <div class="d-flex align-items-center gap-2">
                                                    <span class="text-muted">Sort by: </span>
                                                    <select class="form-control mb-0" data-choices data-choices-search-false
                                                        id="choices-single-default">
                                                        <option value="Name">Name</option>
                                                        <option value="Company">Company</option>
                                                        <option value="Lead">Lead</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <div class="table-responsive table-card mb-3">
                                                <table class="table align-middle table-nowrap mb-0" id="customerTable">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th scope="col" style="width: 50px;">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        id="checkAll" value="option">
                                                                </div>
                                                            </th>
                                                            <th class="sort" data-sort="name" scope="col">Name</th>
                                                            <th class="sort" data-sort="company_name" scope="col">Company
                                                            </th>
                                                            <!-- <th class="sort" data-sort="designation" scope="col">Designation
                                                            </th> -->
                                                            <th class="sort" data-sort="email_id" scope="col">Email ID</th>
                                                            <th class="sort" data-sort="phone" scope="col">Phone No</th>
                                                            <th class="sort" data-sort="lead_score" scope="col">Lead Score</th>
                                                            <th class="sort" data-sort="tags" scope="col">Tags</th>
                                                            <th class="sort" data-sort="date" scope="col">Last Contacted</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="list form-check-all">
                                                        {% for contact in contacts %}
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                                </div>
                                                            </th>
                                                            <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">{{ contact.id }}</a></td>
                                                            <td class="name">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="flex-shrink-0"><img src="{{ contact.get_photo_url }}" alt="" class="avatar-xs rounded-circle"></div>
                                                                    <div class="flex-grow-1 ms-2 name">{{ contact.name }}</div>
                                                                </div>
                                                            </td>
                                                            <td class="company_name">{{ contact.company_name }}</td>
                                                            <!-- <td class="designation">Lead Designer / Developer</td> -->
                                                            <td class="email_id">{{ contact.email_id }}</td>
                                                            <td class="phone">{{ contact.phone }}</td>
                                                            <td class="lead_score">{{ contact.lead_score }}</td>
                                                            <td class="tags">
                                                                {% for tags in contact.tags %}
                                                                <span class="badge bg-primary-subtle text-primary">{{ tags }}</span>
                                                                {% endfor %}
                                                            </td>
                                                            <td class="date">{{ contact.created_at|date:"d M, Y" }} <small class="text-muted">{{ contact.created_at|date:"h:iA" }}</small></td>
                                                            <td>
                                                                <ul class="list-inline hstack gap-2 mb-0">
                                                                    <li class="list-inline-item edit"
                                                                        data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                        data-bs-placement="top" title="Call">
                                                                        <a href="javascript:void(0);"
                                                                            class="text-muted d-inline-block">
                                                                            <i class="ri-phone-line fs-16"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item edit"
                                                                        data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                        data-bs-placement="top" title="Message">
                                                                        <a href="javascript:void(0);"
                                                                            class="text-muted d-inline-block">
                                                                            <i class="ri-question-answer-line fs-16"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <div class="dropdown">
                                                                            <button
                                                                                class="btn btn-soft-secondary btn-sm dropdown"
                                                                                type="button" data-bs-toggle="dropdown"
                                                                                aria-expanded="false">
                                                                                <i class="ri-more-fill align-middle"></i>
                                                                            </button>
                                                                            <ul class="dropdown-menu dropdown-menu-end">
                                                                                <li><a class="dropdown-item"
                                                                                        href="{% url 'apps:crm.contacts_details' contact.pk %}"><i
                                                                                            class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                                                                        View</a></li>
                                                                                <li><a class="dropdown-item"
                                                                                        href="#showModal-{{ forloop.counter }}"
                                                                                        data-bs-toggle="modal"><i
                                                                                            class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                                                        Edit</a></li>
                                                                                <li>
                                                                                    <a class="dropdown-item remove-item-btn"
                                                                                        data-bs-toggle="modal"
                                                                                        href="#deleteRecordModal-{{ forloop.counter }}">
                                                                                        <i
                                                                                            class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                                                        Delete
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="noresult" style="display: none">
                                                    <div class="text-center">
                                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json"
                                                            trigger="loop" colors="primary:#121331,secondary:#08a88a"
                                                            style="width:75px;height:75px">
                                                        </lord-icon>
                                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                                        <p class="text-muted mb-0">We've searched more than 150+ contacts We
                                                            did not find any
                                                            contacts for you search.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end mt-3">
                                                <div class="pagination-wrap hstack gap-2">
                                                    <a class="page-item pagination-prev disabled" href="#">
                                                        Previous
                                                    </a>
                                                    <ul class="pagination listjs-pagination mb-0"></ul>
                                                    <a class="page-item pagination-next" href="#">
                                                        Next
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content border-0">
                                                <div class="modal-header bg-info-subtle p-3">
                                                    <h5 class="modal-title" id="exampleModalLabel">Add Contact</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                                </div>
                                                <form action="{% url 'apps:crm.contacts' %}" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <input type="hidden" id="id-field" />
                                                        <div class="row g-3">
                                                            <div class="col-lg-12">
                                                                <div class="text-center">
                                                                    <div class="position-relative d-inline-block">
                                                                        <div class="position-absolute  bottom-0 end-0">
                                                                            <label for="customer-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                                                                <div class="avatar-xs cursor-pointer">
                                                                                    <div class="avatar-title bg-light border rounded-circle text-muted">
                                                                                        <i class="ri-image-fill"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </label>
                                                                            <input class="form-control d-none" value="" name="profile_pic" id="customer-image-input" type="file"
                                                                                accept="image/png, image/gif, image/jpeg">
                                                                        </div>
                                                                        <div class="avatar-lg p-1">
                                                                            <div class="avatar-title bg-light rounded-circle">
                                                                                <img src="{% static 'images/users/user-dummy-img.jpg' %}" name="profile_pic" id="customer-img" class="avatar-md rounded-circle object-fit-cover" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <label for="name-field" class="form-label">Name</label>
                                                                    <input type="text" name="name" class="form-control" placeholder="Enter name" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div>
                                                                    <label for="company_name-field" class="form-label">Company Name</label>
                                                                    <input type="text" name="company_name" class="form-control" placeholder="Enter company name" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div>
                                                                    <label for="designation-field" class="form-label">Designation</label>
                                                                    <input type="text" name="designation" class="form-control" placeholder="Enter Designation" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div>
                                                                    <label for="email_id-field" class="form-label">Email ID</label>
                                                                    <input type="text" name="email_id" class="form-control"  placeholder="Enter email" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div>
                                                                    <label for="phone-field" class="form-label">Phone</label>
                                                                    <input type="text" name="phone" class="form-control"  placeholder="Enter phone no" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div>
                                                                    <label for="lead_score-field" class="form-label">Lead Score</label>
                                                                    <input type="text" name="lead_score" class="form-control"  placeholder="Enter value" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div>
                                                                    <label for="taginput-choices" class="form-label font-size-13 text-muted">Tags</label>
                                                                    <select class="form-control" name="tags"
                                                                        id="taginput-choices"  multiple>
                                                                        <option value="Lead">Lead</option>
                                                                        <option value="Partner">Partner</option>
                                                                        <option value="Exiting">Exiting</option>
                                                                        <option value="Long-term">Long-term</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="hstack gap-2 justify-content-end">
                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-success" id="add-btn">Add Contact</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!--end add modal-->
                                    {% for contact in contacts %}

                                    <div class="modal fade" id="showModal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content border-0">
                                                <div class="modal-header bg-info-subtle p-3">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit Contact</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                                </div>
                                                <form action="{% url 'apps:crm.update_contacts' contact.pk %}" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <input type="hidden" id="id-field" />
                                                        <div class="row g-3">
                                                            <div class="col-lg-12">
                                                                <div class="text-center">
                                                                    <div class="position-relative d-inline-block">
                                                                        <div class="position-absolute  bottom-0 end-0">
                                                                            <label for="customer-image-input" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                                                                <div class="avatar-xs cursor-pointer">
                                                                                    <div class="avatar-title bg-light border rounded-circle text-muted">
                                                                                        <i class="ri-image-fill"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </label>
                                                                            <input class="form-control" value="{{ contact.get_photo_url }}" name="profile_pic" id="customer-image-input" type="file"
                                                                                accept="image/png, image/gif, image/jpeg">
                                                                        </div>
                                                                        <div class="avatar-lg p-1">
                                                                            <div class="avatar-title bg-light rounded-circle">
                                                                                <img src="{{ contact.get_photo_url }}" name="profile_pic" id="customer-img" class="avatar-md rounded-circle object-fit-cover" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <label for="name-field" class="form-label">Name</label>
                                                                    <input type="text" name="name" value="{{ contact.name }}" class="form-control" placeholder="Enter name" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div>
                                                                    <label for="company_name-field" class="form-label">Company Name</label>
                                                                    <input type="text" name="company_name" value="{{ contact.company_name }}" class="form-control" placeholder="Enter company name" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div>
                                                                    <label for="designation-field" class="form-label">Designation</label>
                                                                    <input type="text" name="designation" value="{{ contact.designation }}" class="form-control" placeholder="Enter Designation" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div>
                                                                    <label for="email_id-field" class="form-label">Email ID</label>
                                                                    <input type="text" name="email_id" value="{{ contact.email_id }}" class="form-control"  placeholder="Enter email" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div>
                                                                    <label for="phone-field" class="form-label">Phone</label>
                                                                    <input type="text" name="phone" value="{{ contact.phone }}" class="form-control"  placeholder="Enter phone no" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div>
                                                                    <label for="lead_score-field" class="form-label">Lead Score</label>
                                                                    <input type="text" name="lead_score" value="{{ contact.lead_score }}" class="form-control"  placeholder="Enter value" required />
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <div>
                                                                    <label for="taginput-choices" class="form-label font-size-13 text-muted">Tags</label>
                                                                    <select class="form-control" name="tags"
                                                                        id="taginput-choices" multiple>
                                                                            {% if contact.tags == 1 %}
                                                                                <option value="Exiting" selected>Exiting</option>
                                                                            {% else %}
                                                                                <option value="Exiting">Exiting</option>
                                                                            {% endif %}
                                                                            {% if contact.tags == "Lead" %}
                                                                                <option value="Lead" selected>Lead</option>
                                                                            {% else %}
                                                                                <option value="Lead">Lead</option>
                                                                            {% endif %}
                                                                            {% if contact.tags == "Long-term" %}
                                                                                <option value="Long-term" selected>Long-term</option>
                                                                            {% else %}
                                                                                <option value="Long-term">Long-term</option>
                                                                            {% endif %}
                                                                            {% if contact.tags == contact.tags.4 %}
                                                                                <option value="Partner" selected>Partner</option>
                                                                            {% else %}
                                                                                <option value="Partner">Partner</option>
                                                                            {% endif %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="hstack gap-2 justify-content-end">
                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-success" id="add-btn">Update</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!--end edit modal-->

                                    <div class="modal fade zoomIn" id="deleteRecordModal-{{ forloop.counter }}" tabindex="-1"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="deleteRecord-close"></button>
                                                </div>
                                                <div class="modal-body p-5 text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                                                    <div class="mt-4 text-center">
                                                        <h4 class="fs-semibold">You are about to delete a contact ?</h4>
                                                        <p class="text-muted fs-14 mb-4 pt-1">Deleting your contact will remove all of your information from our database.</p>
                                                        <div class="hstack gap-2 justify-content-center remove">
                                                            <button class="btn btn-link link-success fw-medium text-decoration-none" id="deleteRecord-close" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                                            <a class="btn btn-danger" id="delete-record" href="{% url 'apps:crm.delete_contacts' contact.pk %}">Yes, Delete It!!</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!--end delete modal -->
    
                                    </div>
                                </div>
                                <!--end card-->
                            </div>
                            <!--end col-->
                            {% if contact %}
                            <div class="col-xxl-3">
                                <div class="card" id="contact-view-detail">
                                    <div class="card-body text-center">
                                        <div class="position-relative d-inline-block">
                                            <img src="{{ contact.profile_pic.url }}" alt=""
                                                class="avatar-lg rounded-circle img-thumbnail">
                                            <span class="contact-active position-absolute rounded-circle bg-success"><span
                                                    class="visually-hidden"></span>
                                        </div>
                                        <h5 class="mt-4 mb-1">{{ contact.name }}</h5>
                                        <p class="text-muted">{{ contact.company_name }}</p>
    
                                        <ul class="list-inline mb-0">   
                                            <li class="list-inline-item avatar-xs">
                                                <a href="javascript:void(0);"
                                                    class="avatar-title bg-success-subtle text-success fs-15 rounded">
                                                    <i class="ri-phone-line"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item avatar-xs">
                                                <a href="javascript:void(0);"
                                                    class="avatar-title bg-danger-subtle text-danger fs-15 rounded">
                                                    <i class="ri-mail-line"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item avatar-xs">
                                                <a href="javascript:void(0);"
                                                    class="avatar-title bg-warning-subtle text-warning fs-15 rounded">
                                                    <i class="ri-question-answer-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="text-muted text-uppercase fw-semibold mb-3">Personal Information</h6>
                                        <p class="text-muted mb-4">Hello, I'm {{ contact.name }}, The most effective objective is
                                            one that is tailored to the job you are applying for. It states what kind of
                                            career you are seeking, and what skills and experiences.</p>
                                        <div class="table-responsive table-card">
                                            <table class="table table-borderless mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Designation</td>
                                                        <td>{{ contact.designation }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Email ID</td>
                                                        <td>{{ contact.email_id }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Phone No</td>
                                                        <td>{{ contact.phone }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Lead Score</td>
                                                        <td>{{ contact.lead_score }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Tags</td>
                                                        <td>
                                                            {% for tags in contact.tags %}
                                                                <span class="badge bg-primary-subtle text-primary">{{ tags }}</span>
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Last Contacted</td>
                                                        <td>{{ contact.created_at|date:"d M, Y" }} <small class="text-muted">{{ contact.created_at|date:"h:iA" }}</small></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--end card-->
                            </div>
                            {% else %}
                            <div class="col-xxl-3">
                                <div class="card" id="contact-view-detail">
                                    <div class="card-body text-center">
                                        <div class="position-relative d-inline-block">
                                            <img src="{% static 'images/users/avatar-10.jpg' %}" alt=""
                                                class="avatar-lg rounded-circle img-thumbnail">
                                            <span class="contact-active position-absolute rounded-circle bg-success"><span
                                                    class="visually-hidden"></span>
                                        </div>
                                        <h5 class="mt-4 mb-1">Tonya Noble</h5>
                                        <p class="text-muted">Nesta Technologies</p>
    
                                        <ul class="list-inline mb-0">   
                                            <li class="list-inline-item avatar-xs">
                                                <a href="javascript:void(0);"
                                                    class="avatar-title bg-success-subtle text-success fs-15 rounded">
                                                    <i class="ri-phone-line"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item avatar-xs">
                                                <a href="javascript:void(0);"
                                                    class="avatar-title bg-danger-subtle text-danger fs-15 rounded">
                                                    <i class="ri-mail-line"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item avatar-xs">
                                                <a href="javascript:void(0);"
                                                    class="avatar-title bg-warning-subtle text-warning fs-15 rounded">
                                                    <i class="ri-question-answer-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="text-muted text-uppercase fw-semibold mb-3">Personal Information</h6>
                                        <p class="text-muted mb-4">Hello, I'm Tonya Noble, The most effective objective is
                                            one that is tailored to the job you are applying for. It states what kind of
                                            career you are seeking, and what skills and experiences.</p>
                                        <div class="table-responsive table-card">
                                            <table class="table table-borderless mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Designation</td>
                                                        <td>Lead Designer / Developer</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Email ID</td>
                                                        <td>tonyanoble@velzon.com</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Phone No</td>
                                                        <td>414-453-5725</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Lead Score</td>
                                                        <td>154</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Tags</td>
                                                        <td>
                                                            <span class="badge bg-primary-subtle text-primary">Lead</span>
                                                            <span class="badge bg-primary-subtle text-primary">Partner</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="fw-medium" scope="row">Last Contacted</td>
                                                        <td>15 Dec, 2021 <small class="text-muted">08:58AM</small></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--end card-->
                            </div>
                            {% endif %}
                            <!--end col-->
                        </div>
                        <!--end row-->
    
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}
{% block extra_js %}
        <!-- list.js min js -->
        <script src="{% static 'libs/list.js/dist/list.min.js'%}"></script>
        <script src="{% static 'libs/list.pagination.js/dist/list.pagination.min.js'%}"></script>

        <script src="{% static 'js/pages/crm-contact.init.js'%}"></script>
        <!-- Sweet Alerts js -->
        <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

        {% for message in messages %}
            {% if message.tags == 'alert-success' %}
            <!-- sweetalert js -->
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                var m = "{{ message }}";
                Swal.fire({
                    icon: 'success',
                    title: m,
                    showConfirmButton: false,
                    timer: 1500,
                })
            </script>
            {% else %}
                <!-- sweetalert js -->
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                var m = "{{ message }}";
                Swal.fire({
                    icon: 'error',
                    title: m,
                    showConfirmButton: false,
                    timer: 1500,
                })
                </script>
            {% endif %}
        {% endfor %}
{% endblock extra_js %}
