{% load static %}
<!DOCTYPE html>
<html lang="en" {% block html %}data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"{% endblock html %}>
    <head>
        <meta charset="utf-8" />
        <title>404 Error alt | Velzon - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">

        <!-- Layout config Js -->
        <script src="{% static 'js/layout.js'%}"></script>
        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
        <!-- custom Css-->
        <link href="{% static 'css/custom.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- auth-page wrapper -->
        <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
            <div class="bg-overlay"></div>
            <!-- auth-page content -->
            <div class="auth-page-content overflow-hidden pt-lg-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5">
                            <div class="card overflow-hidden">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <lord-icon class="avatar-xl"
                                        src="https://cdn.lordicon.com/etwtznjn.json"
                                        trigger="loop"
                                        colors="primary:#405189,secondary:#0ab39c">
                                        </lord-icon>
                                        <h1 class="text-primary mb-4">Oops !</h1>
                                        <h4 class="text-uppercase">Sorry, Page not Found 😭</h4>
                                        <p class="text-muted mb-4">The page you are looking for not available!</p>
                                        <a href="{% url 'dashboards:dashboard'%}" class="btn btn-success"><i class="mdi mdi-home me-1"></i>Back to home</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
    
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end auth page content -->
        </div>
        <!-- end auth-page-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'libs/simplebar/dist/simplebar.min.js'%}"></script>
        <script src="{% static 'libs/node-waves/dist/waves.min.js'%}"></script>
        <script src="{% static 'libs/feather-icons/dist/feather.min.js'%}"></script>
        <script src="{% static 'js/pages/plugins/lord-icon-2.1.0.js'%}"></script>
        <script src="{% static 'js/plugins.js'%}"></script>
    </body>
</html>