{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock title %}
{% block content %}
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6 col-xl-5">
                            <div class="card mt-4">
                                <div class="card-body p-4 text-center"> 
                                    <div class="avatar-lg mx-auto mt-2">
                                        <div class="avatar-title bg-light text-success display-3 rounded-circle">
                                            <i class="ri-checkbox-circle-fill"></i>
                                        </div>
                                    </div>
                                    <div class="mt-4 pt-2">
                                        <h4>{% trans "Change Password" %}</h4>
                                        {% for message in messages %}
                                        <div class="alert {{ message.tags }} mb-4" role="alert">
                                            <strong>{{ message }}</strong>
                                        </div>
                                        {% endfor %} 
                                        <p class="text-muted mx-4">{% trans 'Your password is now changed.' %}</p>
                                        <div class="mt-4">
                                            <a href="{% url 'dashboards:dashboard' %}" class="btn btn-success w-100">Back to Dashboard</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                        </div>
                    </div>
                    <!-- end row -->
{% endblock content %}
    