{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Change Password" %}{% endblock title %}
    
{% block content %}
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6 col-xl-5">
                            <div class="card mt-4">
                            
                                <div class="card-body p-4"> 
                                    <div class="text-center mt-2">
                                        <h5 class="text-primary">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h5>
                                    </div>
                                    <div class="p-2 mt-4">
                                        {% if token_fail %}
                                            {% url 'account_reset_password' as passwd_reset_url %}
                                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                                        {% else %}
                                            {% if form %}
                                                <form class="needs-validation" novalidate method="POST" action="{{ action_url }}">
                                                    {% for message in messages %}
                                                    <div class="alert {{ message.tags }} mb-4" role="alert">
                                                        <strong>{{ message }}</strong>
                                                    </div>
                                                    {% endfor %} 
                                                    {% if field.help_text %}
                                                    <div class="alert alert-danger mb-4" role="alert">
                                                        <strong>{{ field.help_text }}</strong>
                                                    </div>
                                                    {% endif %}
                                                    {% csrf_token %}
                                                    <div class="mb-3">
                                                        {{ form.password1|as_crispy_field }}
                                                    </div>
                                                    <div class="mb-3">
                                                        {{ form.password2|as_crispy_field }}
                                                    </div>
                                                    <div class="mt-4">
                                                        <button class="btn btn-success w-100" type="submit">{% trans 'change password' %}</button>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <p class="test-muted">{% trans 'Your password is now changed.' %}</p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                            <div class="mt-4 text-center">
                                <p class="mb-0">Back to the homepage ? <a href="{% url 'dashboards:dashboard' %]" class="fw-semibold text-primary text-decoration-underline"> Home </a> </p>
                            </div>

                        </div>
                    </div>
                    <!-- end row -->
{% endblock content %}