{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}
    
{% block content %}
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6 col-xl-5">
                            <div class="card mt-4">
                            
                                <div class="card-body p-4"> 
                                    <div class="text-center mt-2">
                                        <h5 class="text-primary">Create New Account</h5>
                                        <p class="text-muted">Get your free velzon account now</p>
                                    </div>
                                    <div class="p-2 mt-4">
                                        <form class="needs-validation" novalidate method="post" action="{% url 'account_signup' %}">
                                            {% for message in messages %}
                                                <div class="alert {{ message.tags }} mb-4" role="alert">
                                                    <strong>{{ message }}</strong>
                                                </div>
                                            {% endfor %} 
                                            {% if field.help_text %}
                                                <div class="alert alert-danger mb-4" role="alert">
                                                    <strong>{{ field.help_text }}</strong>
                                                </div>
                                            {% endif %}
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                {{form.email|as_crispy_field }}
                                            </div>
                                            <div class="mb-3">
                                                {{form.username|as_crispy_field }}
                                            </div>
                                            
                                            <div class="mb-2">
                                                {{form.password1|as_crispy_field }}
                                            </div>

                                            <div class="mb-2">
                                                {{form.password2|as_crispy_field }}
                                            </div>

                                            <div class="mb-4">
                                                <p class="mb-0 fs-12 text-muted fst-italic">By registering you agree to the Velzon <a href="#" class="text-primary text-decoration-underline fst-normal fw-medium">Terms of Use</a></p>
                                            </div>
                                            
                                            <div class="mt-4">
                                                <button class="btn btn-success w-100" type="submit">Sign Up</button>
                                            </div>
                                        </form>
                                        <div class="mt-4 text-center">
                                            <div class="signin-other-title">
                                                <h5 class="fs-13 mb-4 title text-muted">Create account with</h5>
                                            </div>

                                            <div>
                                                <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-icon waves-effect waves-light"><i class="ri-google-fill fs-16"></i></a>
                                            </div>
                                        </div>
                                        

                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                            <div class="mt-4 text-center">
                                <p class="mb-0">Already have an account ? <a href="{{ login_url }}" class="fw-semibold text-primary text-decoration-underline"> Signin </a> </p>
                            </div>

                        </div>
                    </div>
                    <!-- end row -->
{% endblock content %}