{% extends "partials/base.html" %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block extra_css %}
<!-- Sweet Alert css-->
<link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            {% block pagetitle %}
            {% include "partials/page-title.html" with pagetitle="Ecommerce" title="Orders" %}
            {% endblock pagetitle %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="orderList">
                        <div class="card-header border-0">
                            <div class="row align-items-center gy-3">
                                <div class="col-sm">
                                    <h5 class="card-title mb-0">Order History</h5>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="d-flex gap-1 flex-wrap">
                                        <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Create Order</button>
                                        <button type="button" class="btn btn-info"><i class="ri-file-download-line align-bottom me-1"></i> Import</button>
                                        <button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                    </div>
                                </div>
                            </div>
                        <div class="card-body border border-dashed border-end-0 border-start-0">
                            <form>
                                <div class="row g-3">
                                    <div class="col-xxl-5 col-sm-6">
                                        <div class="search-box">
                                            <input type="text" class="form-control search"
                                                placeholder="Search for order ID, customer, order status or something...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-2 col-sm-6">
                                        <div>
                                            <input type="text" class="form-control" data-provider="flatpickr"
                                                data-date-format="d M, Y" data-range-date="true" id="demo-datepicker"
                                                placeholder="Select date">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-2 col-sm-4">
                                        <div>
                                            <select class="form-control" data-choices data-choices-search-false
                                                name="choices-single-default" id="idStatus">
                                                <option value="">Status</option>
                                                <option value="all" selected>All</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Inprogress">Inprogress</option>
                                                <option value="Cancelled">Cancelled</option>
                                                <option value="Pickups">Pickups</option>
                                                <option value="Returns">Returns</option>
                                                <option value="Delivered">Delivered</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-2 col-sm-4">
                                        <div>
                                            <select class="form-control" data-choices data-choices-search-false
                                                name="choices-single-default" id="idPayment">
                                                <option value="">Select Payment</option>
                                                <option value="all" selected>All</option>
                                                <option value="Mastercard">Mastercard</option>
                                                <option value="Paypal">Paypal</option>
                                                <option value="Visa">Visa</option>
                                                <option value="COD">COD</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-1 col-sm-4">
                                        <div>
                                            <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                                                <i class="ri-equalizer-fill me-1 align-bottom"></i>
                                                Filters
                                            </button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <ul class="nav nav-tabs nav-tabs-custom nav-success mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active All py-3" data-bs-toggle="tab" id="All" href="#home1"
                                            role="tab" aria-selected="true">
                                            <i class="ri-store-2-fill me-1 align-bottom"></i> All Orders
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-3 Delivered" data-bs-toggle="tab" id="Delivered"
                                            href="#delivered" role="tab" aria-selected="false">
                                            <i class="ri-checkbox-circle-line me-1 align-bottom"></i> Delivered
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-3 Pickups" data-bs-toggle="tab" id="Pickups"
                                            href="#pickups" role="tab" aria-selected="false">
                                            <i class="ri-truck-line me-1 align-bottom"></i> Pickups <span
                                                class="badge bg-danger align-middle ms-1">2</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-3 Returns" data-bs-toggle="tab" id="Returns"
                                            href="#returns" role="tab" aria-selected="false">
                                            <i class="ri-arrow-left-right-fill me-1 align-bottom"></i> Returns
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-3 Cancelled" data-bs-toggle="tab" id="Cancelled"
                                            href="#cancelled" role="tab" aria-selected="false">
                                            <i class="ri-close-circle-line me-1 align-bottom"></i> Cancelled
                                        </a>
                                    </li>
                                </ul>

                                <div class="table-responsive table-card mb-1">
                                    <table class="table table-nowrap align-middle" id="orderTable">
                                        <thead class="text-muted table-light">
                                            <tr class="text-uppercase">
                                                <th scope="col" style="width: 25px;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkAll"
                                                            value="option">
                                                    </div>
                                                </th>
                                                <th class="sort" data-sort="id">Order ID</th>
                                                <th class="sort" data-sort="customer_name">Customer</th>
                                                <th class="sort" data-sort="product_name">Product</th>
                                                <th class="sort" data-sort="date">Order Date</th>
                                                <th class="sort" data-sort="amount">Amount</th>
                                                <th class="sort" data-sort="payment">Payment Method</th>
                                                <th class="sort" data-sort="status">Delivery Status</th>
                                                <th class="sort" data-sort="city">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                            {% for order in orders %}
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkAll"
                                                            value="option1">
                                                    </div>
                                                </th>
                                                <td class="id"><a href="{% url 'apps:ecommerce.order_details' %}"
                                                        class="fw-medium link-primary">#VZ{{ order.id }}</a></td>
                                                <td class="customer_name">{{ order.name }}</td>
                                                <td class="product_name">{{ order.product }}</td>
                                                <td class="date">{{ order.order_date|date:"d M, Y" }}, <small class="text-muted">{{ order.order_date|date:"h:iA" }}</small></td>
                                                <td class="amount">${{ order.amount }}</td>
                                                <td class="payment">{{ order.payment_method }}</td>
                                                <td class="status">
                                                    {% if order.status == "Pending" %}
                                                    <span class="badge bg-warning-subtle text-warning text-uppercase">Pending</span>
                                                    {% elif order.status == "Inprogress" %}
                                                    <span class="badge bg-secondary-subtle text-secondary text-uppercase">Inprogress</span>
                                                    {% elif order.status == "Cancelled" %}
                                                    <span class="badge bg-danger-subtle text-danger text-uppercase">Cancelled</span>
                                                    {% elif order.status == "Pickups" %}
                                                    <span class="badge bg-info-subtle text-info text-uppercase">Pickups</span>
                                                    {% elif order.status == "Returns" %}
                                                    <span class="badge bg-primary-subtle text-primary text-uppercase">Returns</span>
                                                    {% elif order.status == "Delivered" %}
                                                    <span class="badge bg-success-subtle text-success text-uppercase">Delivered</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top"
                                                            title="View">
                                                            <a href="{% url 'apps:ecommerce.order_details' %}"
                                                                class="text-primary d-inline-block">
                                                                <i class="ri-eye-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top"
                                                            title="Edit">
                                                            <a href="#showModal-{{ forloop.counter }}" data-bs-toggle="modal"
                                                                class="text-primary d-inline-block edit-item-btn">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top"
                                                            title="Remove">
                                                            <a class="text-danger d-inline-block remove-item-btn"
                                                                data-bs-toggle="modal" href="#deleteOrder-{{ forloop.counter }}">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="noresult" style="display: none">
                                        <div class="text-center">
                                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                colors="primary:#405189,secondary:#0ab39c"
                                                style="width:75px;height:75px">
                                            </lord-icon>
                                            <h5 class="mt-2">Sorry! No Result Found</h5>
                                            <p class="text-muted">We've searched more than 150+ Orders We did
                                                not find any
                                                orders for you search.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="pagination-wrap hstack gap-2">
                                        <a class="page-item pagination-prev disabled" href="#">
                                            Previous
                                        </a>
                                        <ul class="pagination listjs-pagination mb-0"></ul>
                                        <a class="page-item pagination-next" href="#">
                                            Next
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header bg-light p-3">
                                            <h5 class="modal-title" id="exampleModalLabel">&nbsp;Add Order</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close" id="close-modal"></button>
                                        </div>
                                        <form action="{% url 'apps:ecommerce.orders' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <input type="hidden" id="id-field" />

                                                <div class="mb-3" id="modal-id">
                                                    <label for="orderId" class="form-label">ID</label>
                                                    <input type="text" id="orderId" class="form-control"
                                                        placeholder="ID" readonly />
                                                </div>

                                                <div class="mb-3">
                                                    <label for="customername-field" class="form-label">Customer
                                                        Name</label> 
                                                    <input type="text" name="name" class="form-control"
                                                        placeholder="Enter name" required />
                                                </div>

                                                <div class="mb-3">
                                                    <label for="productname-field" class="form-label">Product</label>
                                                    <select class="form-control" data-trigger
                                                    name="product" id="productname-field" required />
                                                        <option value="">Product</option>
                                                        <option value="Puma Tshirt">Puma Tshirt</option>
                                                        <option value="Adidas Sneakers">Adidas Sneakers</option>
                                                        <option value="350 ml Glass Grocery Container">350 ml
                                                            Glass Grocery Container</option>
                                                        <option value="American egale outfitters Shirt">American
                                                            egale outfitters Shirt</option>
                                                        <option value="Galaxy Watch4">Galaxy Watch4</option>
                                                        <option value="Apple iPhone 12">Apple iPhone 12</option>
                                                        <option value="Funky Prints T-shirt">Funky Prints
                                                            T-shirt</option>
                                                        <option value="USB Flash Drive Personalized with 3D Print">
                                                            USB Flash Drive Personalized with 3D Print</option>
                                                        <option value="Oxford Button-Down Shirt">Oxford
                                                            Button-Down Shirt</option>
                                                        <option value="Classic Short Sleeve Shirt">Classic Short
                                                            Sleeve Shirt</option>
                                                        <option value="Half Sleeve T-Shirts (Blue)">Half Sleeve
                                                            T-Shirts (Blue)</option>
                                                        <option value="Noise Evolve Smartwatch">Noise Evolve
                                                            Smartwatch</option>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="date-field" class="form-label">Order
                                                        Date</label>
                                                    <input type="date" name="order_date" class="form-control"
                                                        data-provider="flatpickr" required data-date-format="Y-m-d"
                                                        data-enable-time required placeholder="Select date" />
                                                </div>

                                                <div class="row gy-4 mb-3">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="amount-field" class="form-label">Amount</label>
                                                            <input type="text" name="amount" class="form-control"
                                                                placeholder="Total amount" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="payment-field" class="form-label">Payment
                                                                Method</label>
                                                            <select class="form-control" data-trigger
                                                            name="payment_method" required id="payment-field">
                                                                <option value="">Payment Method</option>
                                                                <option value="Mastercard">Mastercard</option>
                                                                <option value="Visa">Visa</option>
                                                                <option value="COD">COD</option>
                                                                <option value="Paypal">Paypal</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label for="delivered-status" class="form-label">Delivery
                                                        Status</label>
                                                    <select class="form-control" data-trigger
                                                    name="status" required id="delivered-status">
                                                        <option value="">Delivery Status</option>
                                                        <option value="Pending">Pending</option>
                                                        <option value="Inprogress">Inprogress</option>
                                                        <option value="Cancelled">Cancelled</option>
                                                        <option value="Pickups">Pickups</option>
                                                        <option value="Delivered">Delivered</option>
                                                        <option value="Returns">Returns</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button type="button" class="btn btn-light"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-success" id="add-btn">Add
                                                        Order</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            {% for order in orders %}

                            <div class="modal fade" id="showModal-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header bg-light p-3">
                                            <h5 class="modal-title" id="exampleModalLabel">&nbsp;Edit Oder</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close" id="close-modal"></button>
                                        </div>
                                        <form action="{% url 'apps:ecommerce.update_orders' order.pk %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <input type="hidden" id="id-field" />

                                                <div class="mb-3" id="modal-id">
                                                    <label for="orderId" class="form-label">ID</label>
                                                    <input type="text" id="orderId" value="#VZ{{ order.id }}" class="form-control"
                                                        placeholder="ID" readonly />
                                                </div>

                                                <div class="mb-3">
                                                    <label for="customername-field" class="form-label">Customer
                                                        Name</label> 
                                                    <input type="text" name="name" value="{{ order.name }}" class="form-control"
                                                        placeholder="Enter name" required />
                                                </div>

                                                <div class="mb-3">
                                                    <label for="productname-field" class="form-label">Product</label>
                                                    <select class="form-control" data-trigger id="productname-field"
                                                        name="product" required />
                                                        <option value="" disabled>Product</option>
                                                        {% if order.product == "Puma Tshirt" %}
                                                        <option value="Puma Tshirt" selected>Puma Tshirt</option>
                                                        {% else %}
                                                        <option value="Puma Tshirt">Puma Tshirt</option>
                                                        {% endif %}
                                                        {% if order.product == "Adidas Sneakers" %}
                                                        <option value="Adidas Sneakers" selected>Adidas Sneakers</option>
                                                        {% else %}
                                                        <option value="Adidas Sneakers">Adidas Sneakers</option>
                                                        {% endif %}
                                                        {% if order.product == "350 ml Glass Grocery Container" %}
                                                        <option value="350 ml Glass Grocery Container" selected>350 ml Glass Grocery Container</option>
                                                        {% else %}
                                                        <option value="350 ml Glass Grocery Container">350 ml Glass Grocery Container</option>
                                                        {% endif %}
                                                        {% if order.product == "American egale outfitters Shirt" %}
                                                        <option value="American egale outfitters Shirt" selected>American egale outfitters Shirt</option>
                                                        {% else %}
                                                        <option value="American egale outfitters Shirt">American egale outfitters Shirt</option>
                                                        {% endif %}
                                                        {% if order.product == "Apple iPhone 12" %}
                                                        <option value="Apple iPhone 12" selected>Apple iPhone 12</option>
                                                        {% else %}
                                                        <option value="Apple iPhone 12">Apple iPhone 12</option>
                                                        {% endif %}
                                                        {% if order.product == "Funky Prints T-shirt" %}
                                                        <option value="Funky Prints T-shirt" selected>Funky Prints T-shirt</option>
                                                        {% else %}
                                                        <option value="Funky Prints T-shirt">Funky Prints T-shirt</option>
                                                        {% endif %}
                                                        {% if order.product == "USB Flash Drive Personalized with 3D Print" %}
                                                        <option value="USB Flash Drive Personalized with 3D Print" selected>USB Flash Drive Personalized with 3D Print</option>
                                                        {% else %}
                                                        <option value="USB Flash Drive Personalized with 3D Print">USB Flash Drive Personalized with 3D Print</option>
                                                        {% endif %}
                                                        {% if order.product == "Oxford Button-Down Shirt" %}
                                                        <option value="Oxford Button-Down Shirt" selected>Oxford Button-Down Shirt</option>
                                                        {% else %}
                                                        <option value="Oxford Button-Down Shirt">Oxford Button-Down Shirt</option>
                                                        {% endif %}
                                                        {% if order.product == "Classic Short Sleeve Shirt" %}
                                                        <option value="Classic Short Sleeve Shirt" selected>Classic Short Sleeve Shirt</option>
                                                        {% else %}
                                                        <option value="Classic Short Sleeve Shirt">Classic Short Sleeve Shirt</option>
                                                        {% endif %}
                                                        {% if order.product == "Half Sleeve T-Shirts (Blue)" %}
                                                        <option value="Half Sleeve T-Shirts (Blue)" selected>Half Sleeve T-Shirts (Blue)</option>
                                                        {% else %}
                                                        <option value="Half Sleeve T-Shirts (Blue)">Half Sleeve T-Shirts (Blue)</option>
                                                        {% endif %}
                                                        {% if order.product == "Noise Evolve Smartwatch" %}
                                                        <option value="Noise Evolve Smartwatch" selected>Noise Evolve Smartwatch</option>
                                                        {% else %}
                                                        <option value="Noise Evolve Smartwatch">Noise Evolve Smartwatch</option>
                                                        {% endif %}
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="date-field" class="form-label">Order
                                                        Date</label>
                                                    <input type="date" name="order_date" class="form-control"
                                                        data-provider="flatpickr" required data-date-format="Y-m-d" value="{{ order.order_date|date:'Y-m-d' }}"
                                                        data-enable-time required placeholder="Select date" />
                                                </div>

                                                <div class="row gy-4 mb-3">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="amount-field" class="form-label">Amount</label>
                                                            <input type="text" name="amount" class="form-control" value="{{ order.amount }}"
                                                                placeholder="Total amount" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="payment-field" class="form-label">Payment
                                                                Method</label>
                                                            <select class="form-control" data-trigger
                                                                id="payment-method" name="payment_method" required>
                                                                <option value="" disabled>Payment Method</option>
                                                                {% if order.payment_method == "Mastercard" %}
                                                                <option value="Mastercard" selected>Mastercard</option>
                                                                {% else %}
                                                                <option value="Mastercard">Mastercard</option>
                                                                {% endif %}
                                                                {% if order.payment_method == "Visa" %}
                                                                <option value="Visa" selected>Visa</option>
                                                                {% else %}
                                                                <option value="Visa">Visa</option>
                                                                {% endif %}
                                                                {% if order.payment_method == "COD" %}
                                                                <option value="COD" selected>COD</option>
                                                                {% else %}
                                                                <option value="COD">COD</option>
                                                                {% endif %}
                                                                {% if order.payment_method == "Paypal" %}
                                                                <option value="Paypal" selected>Paypal</option>
                                                                {% else %}
                                                                <option value="Paypal">Paypal</option>
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <label for="delivered-status" class="form-label">Delivery
                                                        Status</label>
                                                    <select class="form-control" data-trigger name="status"
                                                        id="delivered-status" required>
                                                        <option value="" disabled>Delivery Status</option>
                                                        {% if order.status == "Pending" %}
                                                        <option value="Pending" selected>Pending</option>
                                                        {% else %}
                                                        <option value="Pending">Pending</option>
                                                        {% endif %}
                                                        {% if order.status == "Inprogress" %}
                                                        <option value="Inprogress" selected>Inprogress</option>
                                                        {% else %}
                                                        <option value="Inprogress">Inprogress</option>
                                                        {% endif %}
                                                        {% if order.status == "Cancelled" %}
                                                        <option value="Cancelled" selected>Cancelled</option>
                                                        {% else %}
                                                        <option value="Cancelled">Cancelled</option>
                                                        {% endif %}
                                                        {% if order.status == "Pickups" %}
                                                        <option value="Pickups" selected>Pickups</option>
                                                        {% else %}
                                                        <option value="Pickups">Pickups</option>
                                                        {% endif %}
                                                        {% if order.status == "Delivered" %}
                                                        <option value="Delivered" selected>Delivered</option>
                                                        {% else %}
                                                        <option value="Delivered">Delivered</option>
                                                        {% endif %}
                                                        {% if order.status == "Returns" %}
                                                        <option value="Returns" selected>Returns</option>
                                                        {% else %}
                                                        <option value="Returns">Returns</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button type="button" class="btn btn-light"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-success" id="add-btn">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade flip" id="deleteOrder-{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body p-5 text-center">
                                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                                colors="primary:#405189,secondary:#f06548"
                                                style="width:90px;height:90px"></lord-icon>
                                            <div class="mt-4 text-center">
                                                <h4>You are about to delete a order ?</h4>
                                                <p class="text-muted fs-15 mb-4">Deleting your order will remove
                                                    all of
                                                    your information from our database.</p>
                                                <div class="hstack gap-2 justify-content-center remove">
                                                    <button
                                                        class="btn btn-link link-success fw-medium text-decoration-none"
                                                        id="deleteRecord-close" data-bs-dismiss="modal"><i
                                                            class="ri-close-line me-1 align-middle"></i>
                                                        Close</button>
                                                    <a class="btn btn-danger" id="delete-record" href="{% url 'apps:ecommerce.delete_orders' order.pk %}">Yes,
                                                        Delete It</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--end modal -->
                        </div>
                    </div>

                </div>
                <!--end col-->
            </div>
            <!--end row-->

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
<!-- list.js min js -->
<script src="{% static 'libs/list.js/dist/list.min.js'%}"></script>

<!--list pagination js-->
<script src="{% static 'libs/list.pagination.js/dist/list.pagination.min.js'%}"></script>

<!-- ecommerce-order init js -->
<script src="{% static 'js/pages/ecommerce-order.init.js'%}"></script>

<!-- Sweet Alerts js -->
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

        {% for message in messages %}
            {% if message.tags == 'alert-success' %}
            <!-- sweetalert js -->
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                var m = "{{ message }}";
                Swal.fire({
                    icon: 'success',
                    iconColor:'#0ab39c',
                    title: m,
                    showConfirmButton: false,
                    timer: 1500,
                })
            </script>
            {% else %}
                <!-- sweetalert js -->
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                var m = "{{ message }}";
                Swal.fire({
                    icon: 'error',
                    title: m,
                    showConfirmButton: false,
                    timer: 1500,
                })
                </script>
            {% endif %}
        {% endfor %}
{% endblock extra_js %}